*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    background-color: black;
}
html, body, .layer {
    height: 100%;
    width: 100%;
}
.layer {
    position: absolute;
}
/* layers */
#asciiart, #asciiart-l2, #asciiart-l3 {
    align-items: flex-end;
    color: #383838;
    display: flex;
    font-family: 'Courier New', monospace;
    justify-content: flex-end;
    white-space: pre-wrap;
    font-size: min(1.8vh, 1.8vw);  /* Equivalent to 'large' in a 16:9 screen */
    line-height: 1.12em;
    letter-spacing: 0;
}
#terminal {
    color: white;
    padding: 1em;
    white-space: pre-wrap;
    overflow: hidden;
}
#UI {
    align-items: center;
    display: flex;
    justify-content: center;
}
#UI button {
    background-color: black;
    border: 3px lightgray double;
    color: lightgray;
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-shadow: 0 0 2px white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
}
#UI button:hover {
    background-color: lightgray;
    color: black;
    text-shadow: 0 0 2px black;
}
/* layer overrides */
.nocursor {
    cursor: none;
}
.monospace {
    font-family: 'Courier New', monospace;
}
.terminal12px {
    font-size: 12px;
}
/* animations */
@keyframes static-crackle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    54% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes neon-ripple {
    0% {
        opacity: 0.75;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}