#save-points-list {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    max-height: 20rem;
    overflow-y: auto;
}
#save-points-list p {
    display: flex;
    flex-direction: row;
    flex: 1;
}
#save-points-list p:first-child {
    background-color: var(--color-secondary);
    color: var(--color-contrast);
    font-weight: bold;
}
#save-points-list p:not(:first-child):not(:nth-child(2)):hover {
    background-color: var(--color-secondary);
    color: var(--color-contrast);
}
#save-points-list p.selected {
    background-color: var(--color-secondary);
    color: var(--color-contrast);
}
.save-point-time {
    border: 1px var(--color-secondary) solid;
    display: inline-block;
    width: 10rem;
}
.save-point-name {
    border: 1px var(--color-secondary) solid;
    display: inline-block;
    flex: 1;
}