:root {
    --color-terminal-primary: white;
    --color-terminal-secondary: #383838;
    --color-terminal-contrast: black;

    --color-ui-primary: lightgray;
    --color-ui-secondary: #c0c0c0;
    --color-ui-contrast: black;
    --color-ui-accent: gray;
    --color-ui-danger: crimson;
    --color-ui-shadow: white;
}
