/* Page layout */
html, body {
    background-color: var(--color-contrast);
    overflow: hidden;
}
html, body {
    height: 100%;
    width: 100%;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
}
.container {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

@media (min-aspect-ratio: 1/1) {  /* Landscape */
    .portrait-only {
        display: none;
    }
}

@media (max-aspect-ratio: 1/1) {  /* Portrait */
    .landscape-only {
        display: none;
    }
}
