#achievements-popup {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: 1s;
    translate: 0 10rem;
}
#achievements-popup-container {
    background-color: var(--color-contrast);
    border: 1px var(--color-secondary) solid;
    padding: 0.5rem;
    min-width: 25rem;
}
#achievements-popup h3 {
    padding-bottom: 0.5rem;
}
#achievements-popup-inner-container {
    padding: 0.5rem 1rem;
}
