.asciiart {
    align-items: flex-end;
    color: var(--color-secondary);
    display: flex;
    font-family: var(--font-monospace), monospace;
    justify-content: flex-end;
    white-space: pre-wrap;
    font-size: min(1.8vh, 1.8vw);  /* Equivalent to 'large' in a 16:9 screen */
    font-weight: bold;
    line-height: 1.178em;
    letter-spacing: 0;
}
.asciiart.layer {
    bottom: 8.25rem;
}
@media (min-aspect-ratio: 1/1) {  /* Landscape */
    .asciiart.layer {
        bottom: 0;
    }
}