@import url('../components/inline-keyboard-key.css');
@import url('../components/save-points-list.css');
@import url('../components/achievements-list.css');

#menu-ui {
    color: var(--color-secondary);
    padding: 1rem;
}

#menu-ui .container {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "title title"
        "controls controls"
        "extras stats";
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background-color: color-mix(in srgb, var(--color-contrast) 75%, transparent);
    border: 1px var(--color-secondary) solid;
    height: 100%;
    width: 100%;
}
@media (min-aspect-ratio: 1/1) {
    /* Landscape */
    #menu-ui .container {
        grid-template-columns: 1fr 15rem 20rem;
        grid-template-rows: auto 1fr 15rem;
        grid-template-areas:
            "title title stats"
            "controls extras stats"
            "tools tools stats";
    }
}

#menu-title {
    align-items: baseline;
    gap: 1rem;
    grid-area: title;
    padding: 1rem;
}
#menu-controls {
    grid-area: controls;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
}
#menu-controls .row {
    align-items: baseline;
    gap: 1rem;
}
#menu-controls .column {
    align-items: flex-start;
    gap: 0.5rem;
}
#menu-extras {
    grid-area: extras;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 3.5rem 1rem;
}
#menu-stats {
    border-left: 1px var(--color-secondary) solid;
    border-top: 1px var(--color-secondary) solid;
    grid-area: stats;
    justify-content: space-between;
    padding: 1rem 1rem;
}
@media (min-aspect-ratio: 1/1) {
    /* Landscape */
    #menu-stats {
        border-top: none;
        padding: 7.5rem 1rem;
    }
}
#menu-stats .column {
    gap: 0.5rem;
}
#menu-stats button {
    width: 100%;
}
