#terminal {
    color: var(--color-primary);
    padding: 1em;
    white-space: pre-wrap;
    overflow: hidden;
}
#terminal.layer {
    bottom: calc(8.25rem + 12rem);
}
@media (min-aspect-ratio: 1/1) {  /* Landscape */
    #terminal.layer {
        bottom: 12rem;
    }
}
#terminal.monospace {
    font-family: var(--font-monospace), monospace;
}
:is(:fullscreen, :-webkit-full-screen, :-moz-full-screen, :-ms-fullscreen) #terminal.nocursor {
    cursor: none;
}
#terminal.terminal12px {
    font-size: 12px;
}
