@import url('colors.css');

#achievements-popup {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    translate: 0 10rem;
}
#achievements-popup-container {
    background-color: var(--color-contrast);
    border: 1px var(--color-secondary) solid;
    color: var(--color-secondary);
    padding: 0.5rem;
    min-width: 25rem;
}
#achievements-popup h3 {
    font-family: var(--font-ui);
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 0.5rem;
}
#achievements-popup-inner-container {
    padding: 0.5rem 1rem;
}
#achievements-popup h2 {
    font-family: var(--font-monospace);
    font-size: 1.5rem;
    text-shadow: 0 0 10px var(--color-primary);
}
#achievements-popup p {
    font-family: var(--font-ui);
    font-size: 0.8rem;
    text-shadow: 0 0 10px var(--color-primary);
}
